body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
    display: inline-flex;   
    justify-content: space-between;
}

#search-bar{
    margin-left: 2em;
    border-radius: 50px;
    border: 0.5px solid rgb(219, 218, 218);
    box-shadow:  0 5px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40em;
}